body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(22, 20, 24);
  -moz-osx-font-smoothing: grayscale;
  color: #eee;
  user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.center{
  display: flex;
  justify-content: center;
  margin: 0 auto;

}
.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px
}
/* .search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 30px;
  border-radius: 10px;
} */
.button-grid{
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.button-grid button{
  color: white;
  background-color: #2E2735;
  padding: 6px;
  width: auto;
  border-radius: 5px;
}
.button-grid button:hover {
  background-color: #453B50;
  transition-property: background-color;
  transition-duration: 500ms;
}
.search{
  display: block;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 260px;
  height: 19%;
}
.reset{
  position: relative;
  margin-left: 14px;
  top: -100px;
  right: -400px;
  border-radius: 20px;
  width: 170px;
  height: 38px;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin-top: 22px;
  flex-direction:row;
  transition: height 1s ease-in-out;
}

footer { 
  position:fixed;
  color: white;
  left:0px;
  bottom:0px;
  height:80px;
  width:100%;
  background:#312D35;
}
footer p{ 
  position: relative;
  top: 30px;
  right: -620px;
}
#modal {
  display:  block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
}
.modal-content {
  top: -57px;
  grid-auto-flow: column;
  background-color: white;
  text-transform: capitalize;
  background-color: #312D35;
  color: black;
  font-size: 20px;
  margin: 15% auto;
  padding: 2px;
  border: 2px solid white;
  width: 25%;
  height: 23%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.modal-content h2{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px
}
.h3-card{
  color: white;
  display: flex;
  justify-content: center;
  right: -100px;
  max-height: 27px;
}
.board-form{
  margin-left: 9px;
  display: inline-block;
  top: 200px;
  width: 100%;
  height: 500px;
  max-height: 140px;
}

.close {
  top: -862px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.website{
  background-color: #312D35;
  height: 69px;
}
.view-board{
  color: white;
  background-color: #2E3240;
  padding: 6px;
  width: auto;
  border-radius: 5px;
}
.title{
  justify-content: center;
  width: 90%;
}
.category{
  justify-content: center;
  width: 92%;
}
.author{
  justify-content: center;
  width: 90%;
}
.home{
  position: absolute;
  color: white;
  background-color: #2E2735;
  padding: 6px;
  width: 120px;
  height: 70px;
  border-radius: 5px;
}