.website-cards {
  background-color: #312f37;
  font-size: large;
  height: 69px;
}
.create-card {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: auto;
}

#modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
}
.card-modal-content {
  top: -57px;
  grid-auto-flow: column;
  background-color: white;
  text-transform: capitalize;
  color: white;
  font-size: 20px;
  margin: 15% auto;
  padding: 2px;
  background-color: #312d35;
  border: 2px solid white;
  width: 83%;
  height: 65%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 133px;
}
.modal-content h2 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.gif-container {
  height: 301px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin-top: 22px;
  flex-direction: row;
  position: relative;
  top: -4px;
}

.gifSearch {
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
}
.box {
  margin-left: 80px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.owner {
  display: flex;
  justify-content: center;
}
.submit {
  display: flex;
  justify-content: center;
}
.image {
  width: 300px;
  height: 100%;
}
.image:active {
  border: 3px solid red;
}
.delete {
  position: relative;
  right: 0px;
  color: white;
  background-color: #2e3240;
  padding: 6px;
  width: auto;
  border-radius: 5px;
}
.button {
  color: white;
  background-color: #2e2735;
  padding: 6px;
  width: auto;
  border-radius: 5px;
}
.button:hover {
  background-color: #453b50;
  transition-property: background-color;
  transition-duration: 500ms;
}
.submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.comment-container {
    height: 375px;
    margin-top: 30px;
    overflow-y: auto;
    gap: 10px; 
  }